{% macro heading(text, href='') %}
	<div class="page__heading">
		<div class="page__heading__breadcrumbs">
			<a {{ href ? 'href="' ~ href ~ '"' }}>{{ text }}</a>
		</div>
	</div>
{% endmacro %}

{% macro textsetting(title, name, default='', description='') %}
	<div class="form__row__indent">
		<div class="form__heading">
			<div class="form__heading__text">{{ title }}</div>
		</div>
		<div class="form__row__indent">
			<input class="form__input-small" type="text" name="{{ name }}" value="{{ default }}">
			<div class="form__input-description">{{ description }}</div>
		</div>
	</div>
{% endmacro %}
