<div class="form__row">
	<div class="form__heading">
		<div class="form__heading__text">
			<input type=checkbox id="{{ name }}" name="{{ name }}" class="SGPP__form__checkbox"></input>
			<label for="{{ name }}" class="SGPP__settings-checkbox form__checkbox fa">
				{{ title }}
			</label>
		</div>
	</div>
	{% if not description is empty %}
		<div class="form__row__indent">
			<div class="form__input-description">{{ description }}</div>
		</div>
	{% endif %}
	{% block extra %}{% endblock %}
</div>
