{% import "macros.html.twig" as macros %}

{% extends "base.html.twig" %}

{% block sidebar %}
{% endblock %}

{% block content %}
	<form>
		<div class="forms__rows">
			{{ macros.heading('Comment and Enter') }}
				{% embed "module.html.twig" with {'title' : 'Enabled', 'description' : 'Creates a button on the giveaway page that allows you to both post your message and enter the giveaway. Saving time!', 'name' : 'SGPP__CommentAndEnter'} %}
				{% endembed %}

			{{ macros.heading('Entry Commenters') }}
				{% embed "module.html.twig" with {'title' : 'Enabled', 'description' : 'Allows to check which entries/winners commented on the giveaway.', 'name' : 'SGPP__EntryCommenters'} %}
				{% endembed %}

			{{ macros.heading('Fixed Entities') }}
				{% embed "module.html.twig" with {'title' : 'Navbar', 'name' : 'SGPP__FixedNavbar'} %}
				{% endembed %}
				{% embed "module.html.twig" with {'title' : 'Footer', 'name' : 'SGPP__FixedFooter'} %}
				{% endembed %}

			{{ macros.heading('Gridview') }}
				{% embed "module.html.twig" with {'title' : 'Enabled', 'description' : 'Places giveaways in a grid pattern. Saving space and optimizing the layout.', 'name' : 'SGPP__GridView'} %}
				{% endembed %}

			{{ macros.heading('Comments') }}
				{% embed "module.html.twig" with {'title' : 'Mark Comments', 'description' : 'Mark Comments...', 'name' : 'SGPP__MarkComments'} %}
				{% endembed %}
				{% embed "module.html.twig" with {'title' : 'All Read Button', 'description' : 'Allows to toggle visibility of read comments.', 'name' : 'SGPP__MessagesFilterTest'} %}
				{% endembed %}

			{{ macros.heading('Popup Giveaways') }}
				{% embed "module.html.twig" with {'title' : 'Enabled', 'description' : 'Places giveaways in a grid pattern. Saving space and optimizing the layout.', 'name' : 'SGPP__PopupGiveaway'} %}
				{% endembed %}

			{{ macros.heading('Scrolling Sidebar') }}
				{% embed "module.html.twig" with {'title' : 'Enabled', 'description' : 'Scrolling Sidebar.', 'name' : 'SGPP__ScrollingSidebar'} %}
				{% endembed %}

			{{ macros.heading('User Hover Info') }}
				{% embed "module.html.twig" with {'title' : 'Enabled', 'description' : 'Scrolling Sidebar.', 'name' : 'SGPP__UserHoverInfo'} %}
				{% endembed %}

			{{ macros.heading('User Tagging') }}
				{% embed "module.html.twig" with {'title' : 'Enabled', 'description' : 'Scrolling Sidebar.', 'name' : 'SGPP__UserTags'} %}
				{% endembed %}

			{{ macros.heading('Endless Scroll') }}
				{% embed "module.html.twig" with {'title' : 'Discussions', 'description' : 'Puts Endless Scrolls on both Trades/Discussions', 'name' : 'SGPP__EndlessScrollDiscussion'} %}
				{% endembed %}
				{% embed "module.html.twig" with {'title' : 'Discussions Replies', 'description' : 'Puts Endless Scrolls on both Trades/Discussions Replies', 'name' : 'SGPP__EndlessScrollDiscussionReplies'} %}
				{% endembed %}
				{% embed "module.html.twig" with {'title' : 'Giveaways', 'description' : 'Puts Endless Scrolls on Giveaways page', 'name' : 'SGPP__EndlessScrollGiveaways'} %}
				{% endembed %}
				{% embed "module.html.twig" with {'title' : 'Giveaway Comments', 'description' : 'Puts Endless Scrolls on Giveaway Comments', 'name' : 'SGPP__EndlessScrollGiveawayComments'} %}
				{% endembed %}
				{% embed "module.html.twig" with {'title' : 'Lists', 'description' : 'Puts Endless Scrolls on other Lists', 'name' : 'SGPP__EndlessScrollLists'} %}
				{% endembed %}

	</div>
	</form>
{% endblock %}

{% block scripts %}
{% endblock %}
