{% import "macros.html.twig" as macros %}

{% extends "base.html.twig" %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <form>
        <div class="forms__rows">

            {{ macros.heading('Comments') }}
                {% embed "module.html.twig" with {'title' : 'Track Comments', 'description' : 'Track Comments...', 'name' : 'MarkComments'} %}
                {% endembed %}
                {% embed "module.html.twig" with {'title' : 'All Read Button', 'description' : 'Allows to toggle visibility of read comments.', 'name' : 'MessagesFilterTest'} %}
                {% endembed %}

            {{ macros.heading('Endless Scroll') }}
                {% embed "module.html.twig" with {'title' : 'Discussions', 'description' : 'Puts Endless Scrolls on both Trades/Discussions', 'name' : 'EndlessScrollDiscussion'} %}
                {% endembed %}
                {% embed "module.html.twig" with {'title' : 'Discussions Replies', 'description' : 'Puts Endless Scrolls on both Trades/Discussions Replies', 'name' : 'EndlessScrollDiscussionReplies'} %}
                {% endembed %}
                {% embed "module.html.twig" with {'title' : 'Giveaways', 'description' : 'Puts Endless Scrolls on Giveaways page', 'name' : 'EndlessScrollGiveaways'} %}
                {% endembed %}
                {% embed "module.html.twig" with {'title' : 'Giveaway Comments', 'description' : 'Puts Endless Scrolls on Giveaway Comments', 'name' : 'EndlessScrollGiveawayComments'} %}
                {% endembed %}
                {% embed "module.html.twig" with {'title' : 'Lists', 'description' : 'Puts Endless Scrolls on other Lists', 'name' : 'EndlessScrollLists'} %}
                {% endembed %}

            {{ macros.heading('Fixed Entities') }}
                {% embed "module.html.twig" with {'title' : 'Navbar', 'name' : 'FixedNavbar'} %}
                {% endembed %}
                {% embed "module.html.twig" with {'title' : 'Footer', 'name' : 'FixedFooter'} %}
                {% endembed %}
                {% embed "module.html.twig" with {'title' : 'Sidebar', 'name' : 'ScrollingSidebar'} %}
                {% endembed %}

            {{ macros.heading('Giveaways') }}
                {% embed "module.html.twig" with {'title' : 'Popup', 'description' : 'Shows the giveaway', 'name' : 'PopupGiveaway'} %}
                {% endembed %}
                {% embed "module.html.twig" with {'title' : 'GridView', 'description' : 'Places giveaways in a grid pattern. Saving space and optimizing the layout.', 'name' : 'GridView'} %}
                {% endembed %}
                {% embed "module.html.twig" with {'title' : 'Entry Commenters', 'description' : 'Allows to check which entries/winners commented on the giveaway.', 'name' : 'EntryCommenters'} %}
                {% endembed %}
                {% embed "module.html.twig" with {'title' : 'Comment and Enter', 'description' : 'Creates a button on the giveaway page that allows you to both post your message and enter the giveaway. Saving time!', 'name' : 'CommentAndEnter'} %}
                {% endembed %}

            {{ macros.heading('User') }}
                {% embed "module.html.twig" with {'title' : 'Tagging', 'description' : 'Scrolling Sidebar.', 'name' : 'UserTags'} %}
                {% endembed %}
                {% embed "module.html.twig" with {'title' : 'Hover Info', 'description' : 'Scrolling Sidebar.', 'name' : 'UserHoverInfo'} %}
                {% endembed %}

    </div>
    </form>
{% endblock %}

{% block scripts %}
{% endblock %}
